body{
    background-color: rgb(234, 231, 225);
}
#Nombre{
    align-items: center;
    text-align: center;
    color: rgb(0, 166, 255);
}
main{
    text-align: center;
}

.contenedor .contenedor1{
    align-items: center;
    text-align: center;
}